<div class="modal" ng-show="formVisible==true" style="display:block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="formVisible=false" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span ng-show="formEdit==true">Edit</span><span ng-show="formEdit==false">Add</span> Task</h4>
            </div>
            <div class="row">
                <form class="form-horizontal" name="MyForm" ng-submit="addItem()" role="form">
                    <input type="hidden" ng-model="newItem.id" name="id">
                    <input type="hidden" ng-model="newItem.column" name="column">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="title">Title</label>
                    <div class="col-sm-10">
                        <input type="text" name="title" required ng-model="newItem.title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Description</label>
                    <div class="col-sm-10">
                        <textarea name="description" required ng-model="newItem.description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3" ng-repeat="column in columns">
        <h2>{{ column.title }} ({{ (items | filter : { column:column.type }).length }})</h2>
        <div class="panel panel-info" ng-repeat="item in items | filter : {column:column.type} ">

<div class="panel-heading" ng-click="item.expanded = !item.expanded">
  <h3 class="panel-title">{{ item.title }}</h3>
</div>
<div class="panel-body" ng-show="item.expanded">
  {{ item.description }}
</div>
<div class="panel-footer">
    <button class="btn btn-danger" ng-click="editItem(item)"><i class="glyphicon glyphicon-pencil"></i> Edit Item</button>
</div>
        </div>
    </div>
</div>

<div class="row">
    <button class="btn btn-info" ng-click="formVisible=true"><i class="glyphicon glyphicon-plus"></i> Add Item</button>
</div>
